
// Clase con los estilos de los componentes HTML de tab1.page.html

// Define los estilos de la clase welcome-section, que hace referencia
// al div de la cabecera de tab1
.welcome-section { 
    
    padding: 16px 0;
    h2 { font-size: 1.5rem; font-weight: 700; }
    p { color: var(--ion-color-medium); }
}

// Define los estilos de la clase stat-scol, que hace referencia
// a las columnas (col) del resumen del día
.stat-col { 
    text-align: center;
    .stat-number { font-size: 2rem; font-weight: 700; color: var(--ion-color-primary); }
    .stat-label { font-size: 0.8rem; color: var(--ion-color-medium); }
}

